@model Category
<div class="row">
    <div class="col-12 mb-3"><h2> <a href="/Category/Index"><i class="bi bi-arrow-bar-left"></i></a>  Edit Category @Model.Name </h2></div>

</div>

<div>

    <form action="/Category/Edit" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="mb-3">

            <label for="CategoryName" class="form-label">CategoryName</label>
            <input type="text" class="form-control" id="CategoryName" name="Name" value="@Model.Name">
            <span asp-validation-for="Name"></span>


        </div>

        <button type="submit" class="btn btn-primary">Save Change</button>
    </form>






</div>
